---
import MenuItem from './MenuItem.astro';

export interface Props {
    menuList: string[];
}

const { menuList } = Astro.props;
---
<div class="side-bar">
    <img src="/favicon.svg" />
    <ul role="list" class="menu">
        {menuList.map(item => (<MenuItem href={"/"+item} text={item} />))}
    </ul>
</div>
<style>
    .side-bar {
        --offset: var(--space);
        align-self: start;
        flex-basis: 200px;
        flex-direction: column;
        padding: 15px;
        position: sticky;
        top: var(--offset);
        max-height: calc(100vh - var(--offset) * 2);
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .side-bar::-webkit-scrollbar {
        display: none;
    }
    .menu {
        flex-direction: column;
        padding: 0;
    }
</style>
