---
import SideBar from '../components/SideBar.astro';

export interface Props {
    title: string;
}

const { title } = Astro.props;

// Test the sidebars ability to scroll
let list = [];
for (let i = 0; i < 100; i++) {
    list.push('About');
}
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <SideBar menuList={list} />
        <slot />
    </body>
</html>
<style is:global>
    :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
        --space: 32px;
    }
    html {
        font-family: system-ui, sans-serif;
        background-color: darkslategray;
    }
    code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
            Bitstream Vera Sans Mono, Courier New, monospace;
    }
    body {
        display: flex;
        margin: 0 10%;
    }
</style>
